<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard / Planten">
    <meta name="author" content="B. Diker, A. Oomen">
    <meta name="keywords" content="planten / kas">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/main.js" defer></script>
    <script src="../static/js/planten.class.js"></script>
</head>
<body>
    <section class="mainContainer">
        <article>
          <a href="index.html">
            <img src="../static/images/logo.png" class="goodgarden-logo">
          </a>
        </article>
        <section class="mainBorder">
            <section class="content">
                <section class="kant-links">
                  <table id="planten">
                  </table>
                  <!-- Modal voor het toevoegen van nieuwe planten -->
                  <div id="myModal" class="modal">
                      <!-- Sluitknop voor de modal -->
                      <span class="close">&times;</span>
                      <!-- Formulier voor het toevoegen van nieuwe planten -->
                      <form action="http://localhost:3000/submit-form" method="post" onsubmit="return addplant()">
                          <!-- Velden voor het invullen van plantinformatie -->
                          <input type="text" name="plant_naam" id="plantNaam">
                          <label for="plantNaam">Naam van de plant</label>
         
                          <input type="text" name="plantensoort" id="plantensoort">
                          <label for="plantensoort">Soort van de plant</label>
         
                          <input type="radio" name="plant_geteelt" id="aanwezig" value="true">
                          <label for="aanwezig">Aanwezig</label>
         
                          <input type="radio" name="plant_geteelt" id="afwezig" value="false">
                          <label for="afwezig">Afwezig</label>
         
                          <input type="submit" value="Submit">
                      </form>
                  </div>
                <div id="overlay" onclick="closeOverlay"></div>
        </section>
        <section class="kant-rechts">
          <!-- Sectie voor sensorinformatie -->
          <section id="sectie-1">
              <!-- Container voor algemene overzichtinformatie -->
              <article class="parent-algemeen-overzicht">
                  <article class="algemeen-overzicht">
                      <!-- Link naar pagina met meer details over de sensoren -->
                    <a href="sensoren.html">
                      <!-- Tabel met sensorinformatie -->
                      <table class="table-informatie-kas">
                        <tr class="tr-informatie-kas">
                          <td>Sensor:</td>
                          <td id="deviceNumber-322"></td>
                        </tr>
                        <tr class="tr-informatie-kas">
                          <td>Locatie:</td>
                          <td id="voltage-322"></td>
                        </tr>
                        <tr class="tr-informatie-kas">
                          <td>Batterijvoltage:</td>
                          <td id="tevredenheid-322"></td>
                        </tr>
                        <tr class="tr-informatie-kas">
                          <td>Dagen resterend:</td>
                          <td id="time-322"></td>
                        </tr>
                      </table>
                    <a/>
              </article>
            </article>
            <article class="parent-algemeen-overzicht">
              <article class="algemeen-overzicht">
                <a href="sensoren.html">
                <table class="table-informatie-kas">
                  <tr class="tr-informatie-kas">
                    <td>Sensor:</td>
                    <td id="deviceNumber-256"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Locatie:</td>
                    <td id="voltage-256"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Batterijvoltage:</td>
                    <td id="tevredenheid-256"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Dagen resterend:</td>
                    <td id="time-256"></td>
                  </tr>
                </table>
                <a/>
              </article>
            </article>
          </section>
        </section>
            </section>
        </section>
  </section>
</body>

</html>