<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensoren</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <script src="../src/js/main.js" defer></script>
    <script src="../src/js/planten.class.js"></script>
</head>
<body>
    <section class="mainContainer">
        <article>
            <img src="../src/images/logo.png" class="goodgarden-logo">
          </article>
        <section class="mainBorder">
            <section class="content">
                <section class="kant-links">
                    <section class="border-sensor">
                        <article id="sensor-1">
                            <table>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                            </table>
                        </article>
                    </section>
                    <section>
                        <article id="grafiek-1">

                        </article>
                    </section>
                </section>
                <section>

                </section>
                <section class="kant-rechts">
                    <article id="sensor-2">

                    </article>
                    <article id="grafiek-2">

                    </article>
                </section>
            </section>
        </section>
    </section>
</body>
</html>